trunk/WSClient/src/META-INF/wsdl/localhost_8080/SecureWS/UserManager.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://usermanager.securews.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://usermanager.securews.org/">

<xs:element name="getUserByName" type="tns:getUserByName" />

<xs:element name="getUserByNameResponse" type="tns:getUserByNameResponse" />

<xs:complexType name="getUserByName">
<xs:sequence>
<xs:element name="userId" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:wsUser" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="wsUser">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="userId" type="xs:string" minOccurs="0" />
<xs:element name="userKey" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>